<a href="https://colab.research.google.com/github/karthik14-03/AICTE-Water-resource-management-project/blob/main/Final_python_Tutorial_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Newlines** and Raw Strings

In [ ]:
s = 'First line.\nSecond line.'
print(s)              # Output: First line.\nSecond line.
print(s)              # Output: First line.
                      #         Second line.

print('C:\some\name') # Output: C:\some (interprets \n as newline)
print(r'C:\some\name')  # Output: C:\some\name (raw string)

First line.
Second line.
First line.
Second line.
C:\some
ame
C:\some\name

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1352772749.py:6: SyntaxWarning: invalid escape sequence '\s'
  print('C:\some\name') # Output: C:\some (interprets \n as newline)

# Multi-line Strings

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")
# Output:
# Usage: thingy [OPTIONS]
#      -h                        Display this usage message
#      -H hostname               Hostname to connect to

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

# String Concatenation and Repetition

In [ ]:
print(3 * 'un' + 'ium')  # Output: unununium
print('Py' 'thon')       # Output: Python (literal concatenation)

text = ('Put several strings within parentheses '
        'to have them joined together.')
print(text)              # Output: Put several strings within parentheses to have them joined together.

prefix = 'Py'
print(prefix + 'thon')   # Output: Python (variable concatenation)

unununium
Python
Put several strings within parentheses to have them joined together.
Python

# String Indexing and Slicing

In [ ]:
word = 'Python'
print(word[0])        # Output: P
print(word[5])        # Output: n
print(word[-1])       # Output: n (last character)
print(word[-2])       # Output: o (second-last character)
print(word[0:2])      # Output: Py
print(word[2:5])      # Output: tho
print(word[:2])       # Output: Py
print(word[4:])       # Output: on
print(word[-2:])      # Output: on
print(word[:2] + word[2:])  # Output: Python

P
n
n
o
Py
tho
Py
on
on
Python




# String Immutability and Length

In [ ]:
# Strings are immutable
word = 'Python'
try:
    word[0] = 'J'
except TypeError as e:
    print(e)          # Output: 'str' object does not support item assignment

# Create a new string instead
print('J' + word[1:])  # Output: Jython

# Length of a string
s = 'supercalifragilisticexpialidocious'
print(len(s))         # Output: 34

'str' object does not support item assignment
Jython
34

# 4. Lists
Lists are mutable sequences that can hold items of different types, enclosed in square brackets [].

1.   Basic List Operations
2.   Modifying Lists
3.   List References and Copies
4.   Slice Assignment
5.   List Length and Nesting

In [ ]:
# 1
squares = [1, 4, 9, 16, 25]
print(squares)        # Output: [1, 4, 9, 16, 25]
print(squares[0])     # Output: 1
print(squares[-1])    # Output: 25
print(squares[-3:])   # Output: [9, 16, 25]
print(squares + [36, 49, 64, 81, 100])  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
print("\n")

# 2
cubes = [1, 8, 27, 65, 125]
print(4 ** 3)         # Output: 64 (correct cube of 4)
cubes[3] = 64        # Fix the wrong value
prÄ™int(cubes)          # Output: [1, 8, 27, 64, 125]

cubes.append(216)     # Add cube of 6
cubes.append(7 ** 3)  # Add cube of 7
print(cubes)          # Output: [1, 8, 27, 64, 125, 216, 343]v

print("\n")

# 3
rgb = ["Red", "Green", "Blue"]
rgba = rgb
print(id(rgb) == id(rgba))  # Output: True (same object)
rgba.append("Alph")
print(rgb)            # Output: ["Red", "Green", "Blue", "Alph"]

correct_rgba = rgba[:]  # Create a shallow copy
correct_rgba[-1] = "Alpha"
print(correct_rgba)   # Output: ["Red", "Green", "Blue", "Alpha"]
print(rgba)           # Output: ["Red", "Green", "Blue", "Alph"]

print("\n")

# 4
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
print(letters)        # Output: ['a', 'b', 'C', 'D', 'E', 'f', 'g']
letters[2:5] = []
print(letters)        # Output: ['a', 'b', 'f', 'g']
letters[:] = []
print(letters)        # Output: []
print("\n")

# 5
letters = ['a', 'b', 'c', 'd']
print(len(letters))   # Output: 4

a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)              # Output: [['a', 'b', 'c'], [1, 2, 3]]
print(x[0])           # Output: ['a', 'b', 'c']
print(x[0][1])        # Output: b

[1, 4, 9, 16, 25]
1
25
[9, 16, 25]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


64
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216, 343]


True
['Red', 'Green', 'Blue', 'Alph']
['Red', 'Green', 'Blue', 'Alpha']
['Red', 'Green', 'Blue', 'Alph']


['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]


4
[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b

# Fibonacci Series

In [ ]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a + b
# Output: 0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# if Statements

In [ ]:
number = int(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number == 0:
    print("Zero")
else:
    print("Negative")

Enter a number: 5
Positive

# if Statements

In [ ]:
num = 10
if num > 0:
    if num % 2 == 0:
        print(f"{num} is positive and even")
    else:
        print(f"{num} is positive but odd")
else:
    print(f"{num} is not positive")

10 is positive and even

# Multiple Conditions with Logical Operators

In [ ]:
age = 65
is_member = True
if age >= 60 and is_member:
    print("Eligible for senior member discount")
else:
    print("Not eligible for discount")

Eligible for senior member discount

# Iterating Over a List: Prints each item in a grocery list with its index.

In [ ]:
groceries = ["apples", "bananas", "oranges"]
for i in range(0, len(groceries)):
    print(f"Item {i}: {groceries[i]}")

Item 0: apples
Item 1: bananas
Item 2: oranges

# Iterating Over a String: Counts vowels in a word.

In [ ]:
word = "hello"
vowels = "aeiou"
count = 0
for char in word:
    if char in vowels:
        count += 1
print(f"Number of vowels in '{word}': {count}")

Number of vowels in 'hello': 2

# Modifying a Collection (Using a Copy): Filters out inactive users from a dictionary.

In [ ]:
users = {"Alice": "active", "Bob": "inactive", "Charlie": "active"}
for user, status in users.copy().items():
    if status == "inactive":
        del users[user]
print("Active users:", users)

Active users: {'Alice': 'active', 'Charlie': 'active'}

# Range with Step: Lists even numbers from 10 to 20

In [ ]:
even_numbers = list(range(10, 21, 2))
print("Even numbers:", even_numbers)

Even numbers: [10, 12, 14, 16, 18, 20]

# Reverse Range: Counts down from 10 to 1

In [ ]:
for i in range(10, 0, -1):
    print(i)
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

# Using break to Stop a Search: Finds the first number divisible by 7 in a range

In [ ]:
for num in range(1, 100):
    if num % 7 == 0:
        print(f"First number divisible by 7: {num}")
        break

First number divisible by 7: 7

# Using continue to Skip Items: Prints only odd numbers from 1 to 10

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        continue
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

# Combining break and continue: Processes numbers, skipping multiples of 3 and stopping at a multiple of 5.

In [ ]:
for num in range(1, 20):
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        print(f"Stopped at {num}, multiple of 5")
        break
    print(num)

1
2
4
Stopped at 5, multiple of 5

# Prime Number Check with for Loop: Determines if a number is prime.

In [ ]:
num = 17
for i in range(2, num):
    if num % i == 0:
        print(f"{num} is not prime, divisible by {i}")
        break
else:
    print(f"{num} is a prime number")

17 is a prime number

# Searching a List with for Loop: Checks if a list contains a negative number

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num < 0:
        print("Found a negative number")
        break
else:
    print("No negative numbers found")

No negative numbers found

# Using else with while Loop: Attempts to guess a secret number with limited tries.

In [ ]:
secret = 7
tries = 3
while tries > 0:
    guess = int(input("Guess the number: "))
    if guess == secret:
        print("Correct!")
        break
    tries -= 1
    print(f"{tries}: tries left")
else:
    print("Out of tries! The number was", secret)

Guess the number: 2
2: tries left
Guess the number: 4
1: tries left
Guess the number: 7
Correct!

In [ ]:
for num in range(1, 10):
    if num % 2 == 0:
        pass  # TODO: Implement even number processing
    else:
        print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

# switch statement

In [ ]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Unknown error"
print(http_error(404))  # Output: Not found

Not found

# Point Pattern Matching: Processes coordinates of a point

In [ ]:
point = (3, 2)
match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"On Y-axis at {y}")
    case (x, 0):
        print(f"On X-axis at {x}")
    case (x, y):
        print(f"At ({x}, {y})")

At (3, 2)

# Simple Function with Return: Calculates the square of a number

In [ ]:
def square(num):
    """Returns the square of a number."""
    return num * num
print(square(4))  # Output: 16

16

# Function with Default Arguments: Greets a user with an optional custom message

In [ ]:
def greet(name, message="Hello"):
    return f"{message}, {name}!"
print(greet("Alice"))  # Output: Hello, Alice!
print(greet("Bob", "Welcome"))  # Output: Welcome, Bob!

Hello, Alice!
Welcome, Bob!

# Function with Variable Arguments: Computes the average of any number of values.

In [ ]:
def average(*args):
    if not args:
        return 0
    return sum(args) / len(args)
print(average(1, 2, 3, 4))  # Output: 2.5
print(average())  # Output: 0

2.5
0

# Default Argument Pitfall: Demonstrates mutable default argument behavior.

In [ ]:
def add_item(item, items=[]):
    items.append(item)
    return items
print(add_item(1))  # Output: [1]
print(add_item(2))  # Output: [1, 2] (shared list!)
print("\n")

# Correct approach
def add_item_fixed(item, items=None):
    if items is None:
        items = []
    items.append(item)
    return items
print(add_item_fixed(1))  # Output: [1]
print(add_item_fixed(2))  # Output: [2]

[1]
[1, 2]


[1]
[2]

# Keyword-Only Arguments: Enforces keyword arguments for clarity.

In [ ]:
def send_email(to, *, subject="No Subject", body=""):
    return f"Sending to {to}: Subject: {subject}, Body: {body}"
print(send_email("user@example.com", subject="Hello", body="Hi!"))
# Error: send_email("user@example.com", "Hello")  # TypeError

Sending to user@example.com: Subject: Hello, Body: Hi!

# Lambda Expression: Sorts a list of tuples by the second elemen

In [ ]:
""" syntax of lamba function
(lambda arguments: expression) """

data = [(1, 3), (2, 1), (3, 2)]
data = [(1, "b"), (2, "a"), (3, "c")]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [(2, 'a'), (1, 'b'), (3, 'c')]

[(2, 'a'), (1, 'b'), (3, 'c')]

# Function with Annotations: Specifies argument and return types.

In [ ]:
def concatenate(first: str, second: str = "world") -> str:
    return f"{first} {second}"
print(concatenate("hello"))  # Output: hello world
print(concatenate.__annotations__)
# Output: {'first': <class 'str'>, 'second': <class 'str'>, 'return': <class 'str'>}

hello world
{'first': <class 'str'>, 'second': <class 'str'>, 'return': <class 'str'>}

# More on Lists
 Example 1: Using List Methods
Purpose: Demonstrates various list methods such as count, index, reverse, append, sort, and pop.

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))  # Output: 2
print(fruits.count('tangerine'))  # Output: 0
print(fruits.index('banana'))  # Output: 3
print(fruits.index('banana', 4))  # Find next banana starting at position 4, Output: 6
fruits.reverse()
print(fruits)  # Output: ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
fruits.append('grape')
print(fruits)  # Output: ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
fruits.sort()
print(fruits)  # Output: ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
print(fruits.pop())  # Output: 'pear'

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
pear

# Using Lists as Stacks
 Purpose: Shows a list used as a stack (LIFO) with append and pop.

In [ ]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)  # Output: [3, 4, 5, 6, 7]
print(stack.pop())  # Output: 7
print(stack)  # Output: [3, 4, 5, 6]
print(stack.pop())  # Output: 6
print(stack.pop())  # Output: 5
print(stack)  # Output: [3, 4]

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

# Using Lists as Queues with collections.deque
Purpose: Demonstrates collections.deque for FIFO queue operations.

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
print(queue) # Terry arrives
queue.append("Graham")
print(queue) # Graham arrives
print(queue.popleft())  # Output: 'Eric'
print(queue)
print(queue.popleft())  # Output: 'John'
print(queue)  # Output: deque(['Michael', 'Terry', 'Graham'])

deque(['Eric', 'John', 'Michael', 'Terry'])
deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
Eric
deque(['John', 'Michael', 'Terry', 'Graham'])
John
deque(['Michael', 'Terry', 'Graham'])

# Creating a List of Squares (Traditional vs. List Comprehension)
Purpose: Compares loop, map, and list comprehension for creating a list of squares.

In [ ]:
# Traditional loop
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Using map and lambda
squares = list(map(lambda x: x**2, range(10)))
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Using list comprehension
squares = [x**2 for x in range(10)]
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List Comprehension for Combining Elements
Purpose: Creates a list of tuples from two lists, excluding equal elements.

In [ ]:
# List comprehension
print([(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y])
# Output: [(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

# Equivalent loop
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
print(combs)  # Output: [(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

# Various List Comprehensions
Purpose: Shows different applications of list comprehensions

In [ ]:
vec = [-4, -2, 0, 2, 4]
# Create a new list with the values doubled
print([x*2 for x in vec])  # Output: [-8, -4, 0, 4, 8]

# Filter the list to exclude negative numbers
print([x for x in vec if x >= 0])  # Output: [0, 2, 4]

# Apply a function to all the elements
print([abs(x) for x in vec])  # Output: [4, 2, 0, 2, 4]

# Call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([weapon.strip() for weapon in freshfruit])  # Output: ['banana', 'loganberry', 'passion fruit']

# Create a list of 2-tuples like (number, square)
print([(x, x**2) for x in range(6)])  # Output: [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

# Flatten a list using a listcomp with two 'for'
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([num for elem in vec for num in elem])  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['banana', 'loganberry', 'passion fruit']
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension with Complex Expressions
Purpose: Uses a list comprehension with round and pi.

In [ ]:
from math import pi
print([str(round(pi, i)) for i in range(1, 6)])
# Output: ['3.1', '3.14', '3.142', '3.1416', '3.14159']

['3.1', '3.14', '3.142', '3.1416', '3.14159']

# Nested List Comprehension for Matrix Transpose
Purpose: Transposes a matrix using nested list comprehension, loops, and zip.

In [ ]:
# structure of list comprehesion
# ==> [expression for variable in iterable]
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

# Nested list comprehension
print([[row[i] for row in matrix] for i in range(4)])
# Output: [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Equivalent loop
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
print(transposed)  # Output: [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# More explicit loop
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)  # Output: [[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Using zip
print(list(zip(*matrix)))  # Output: [(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# **Tuples** and Sequences
Example 10: Tuple Creation and Properties
Purpose: Shows tuple creation, indexing, immutability, and nesting.

In [ ]:
t = 12345, 54321, 'hello!'
print(t[0])  # Output: 12345
print(t)  # Output: (12345, 54321, 'hello!')
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
print(u)  # Output: ((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
# Tuples are immutable:
try:
    t[0] = 88888
except TypeError as e:
    print(e)  # Output: 'tuple' object does not support item assignment
# But they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
print(v)  # Output: ([1, 2, 3], [3, 2, 1])

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
'tuple' object does not support item assignment
([1, 2, 3], [3, 2, 1])

# Set Creation and Operations
Purpose: Shows set creation, duplicate removal, membership testing, and set operations.

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)  # Output: {'orange', 'banana', 'pear', 'apple'}
print('orange' in basket)  # Output: True
print('crabgrass' in basket)  # Output: False

# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
print(a)  # Output: {'a', 'r', 'b', 'c', 'd'}
print(a - b)  # Output: {'r', 'd', 'b'}
print(a | b)  # Output: {'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}
print(a & b)  # Output: {'a', 'c'}
print(a ^ b)  # Output: {'r', 'd', 'b', 'm', 'z', 'l'}

{'pear', 'orange', 'banana', 'apple'}
True
False
{'r', 'c', 'a', 'd', 'b'}
{'r', 'b', 'd'}
{'l', 'c', 'r', 'a', 'm', 'd', 'b', 'z'}
{'c', 'a'}
{'l', 'b', 'r', 'z', 'm', 'd'}

# Dictionary Operations
Purpose: Demonstrates creating, modifying, and accessing a dictionary.

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)  # Output: {'jack': 4098, 'sape': 4139, 'guido': 4127}
print(tel['jack'])  # Output: 4098
del tel['sape']
tel['irv'] = 4127
print(tel)  # Output: {'jack': 4098, 'guido': 4127, 'irv': 4127}
print(list(tel))  # Output: ['jack', 'guido', 'irv']
print(sorted(tel))  # Output: ['guido', 'irv', 'jack']
print('guido' in tel)  # Output: True
print('jack' not in tel)  # Output: False

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False

# Looping Through a Dictionary
Purpose: Loops through dictionary key-value pairs with items().

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)
# Output:
# gallahad the pure
# robin the brave

gallahad the pure
robin the brave

# Looping with enumerate()
Purpose: Loops through a list with indices using enumerate().

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)
# Output:
# 0 tic
# 1 tac
# 2 toe

0 tic
1 tac
2 toe

# Looping Over Multiple Sequences with zip()
Purpose: Pairs elements from multiple sequences with zip()

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')
# Output:
# What is your name?  It is lancelot.
# What is your quest?  It is the holy grail.
# What is your favorite color?  It is blue.

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

# Looping Over Unique Elements in Sorted Order
Purpose: Iterates over unique elements in sorted order.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)
# Output:
# apple
# banana
# orange
# pear

apple
banana
orange
pear

# Filtering a List During Iteration
Purpose: Filters out NaN values from a list.

In [ ]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
print(filtered_data)  # Output: [56.2, 51.7, 55.3, 52.5, 47.8]

[56.2, 51.7, 55.3, 52.5, 47.8]

Overview of Python OOP Concepts
Object-Oriented Programming in Python is a programming paradigm that uses objects and classes to organize code into reusable, modular structures. OOP focuses on encapsulating data (attributes) and behavior (methods) into objects, which are instances of classes. The key OOP concepts include:

1. Classes and Instances: A class is a blueprint for
creating objects, and an instance is a specific object created from that class.
2. Attributes: Data stored within a class or instance.
3. Methods: Functions defined within a class that describe the behaviors of objects.
4. Inheritance: A mechanism to create a new class that inherits attributes and methods from an existing class.
5. Encapsulation: Restricting access to certain attributes or methods to protect an objectâ€™s data.
6. Polymorphism: Allowing different classes to be treated as instances of a common superclass, enabling method overriding.
7. Abstraction: Hiding complex implementation details and exposing only necessary features.

# Classes and Instances

In [ ]:
# Define the Employee class
class Employee:
    def __init__(self, first_name, last_name, salary):
        # Instance attributes
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary

    # Instance method to get full name
    def full_name(self):
        return f"{self.first_name} {self.last_name}"

# Create instances of the Employee class
emp1 = Employee("John", "Doe", 50000)
emp2 = Employee("Jane", "Smith", 60000)

# Access attributes and call methods
print(emp1.first_name)  # Output: John
print(emp2.full_name())  # Output: Jane Smith
print(emp1.salary)  # Output: 50000

John
Jane Smith
50000

# . Attributes
Attributes are variables that belong to a class or instance. They can be:

1. Instance Attributes: Unique to each instance (e.g., first_name in the example above).
2. Class Attributes: Shared across all instances of a class.

In [ ]:
class Employee:
    # Class attribute
    raise_percentage = 1.05  # 5% raise

    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary

    def full_name(self):
        return f"{self.first_name} {self.last_name}"

    def apply_raise(self):
        self.salary = int(self.salary * self.raise_percentage)

# Create instances
emp1 = Employee("John", "Doe", 50000)
emp2 = Employee("Jane", "Smith", 60000)

# Apply raise and print new salary
print(emp1.salary)  # Output: 50000
emp1.apply_raise()
print(emp1.salary)  # Output: 52500

# Access class attribute
print(Employee.raise_percentage)  # Output: 1.05
print(emp2.raise_percentage)  # Output: 1.05

50000
52500
1.05
1.05

# Methods
1. Instance Methods: Take self as the first parameter and operate on instance data.
2. Class Methods: Take cls as the first parameter and operate on the class itself (defined with @classmethod).
3. Static Methods: Donâ€™t take self or cls and behave like regular functions but belong to the class (defined with @staticmethod).

In [ ]:
class Employee:
    raise_percentage = 1.05

    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary

    # Instance method
    def full_name(self):
        return f"{self.first_name} {self.last_name}"

    # Class method
    @classmethod
    def set_raise_percentage(cls, percentage):
        cls.raise_percentage = percentage

    # Static method
    @staticmethod
    def is_workday(day):
        # Monday is 0, Sunday is 6
        return 0 <= day.weekday() <= 4

# Create instance
emp1 = Employee("John", "Doe", 50000)

# Call instance method
print(emp1.full_name())  # Output: John Doe

# Call class method
Employee.set_raise_percentage(1.10)  # Set raise to 10%
print(Employee.raise_percentage)  # Output: 1.10

# Call static method
from datetime import datetime
day = datetime(2025, 5, 12)  # A Monday
print(Employee.is_workday(day))  # Output: True

# Inheritance
Inheritance allows a class (child class) to inherit attributes and methods from another class (parent class), promoting code reuse.

In [ ]:
class Employee:
    raise_percentage = 1.05

    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary

    def full_name(self):
        return f"{self.first_name} {self.last_name}"

    def apply_raise(self):
        self.salary = int(self.salary * self.raise_percentage)

class Developer(Employee):
    def __init__(self, first_name, last_name, salary, programming_language):
        super().__init__(first_name, last_name, salary)  # Call parentâ€™s __init__
        self.programming_language = programming_language

# Create a Developer instance
dev1 = Developer("Alice", "Johnson", 70000, "Python")

# Access inherited and new attributes/methods
print(dev1.full_name())  # Output: Alice Johnson
print(dev1.programming_language)  # Output: Python
dev1.apply_raise()
print(dev1.salary)  # Output: 73500

Alice Johnson
Python
73500

# Encapsulation
Encapsulation involves bundling data and methods into a class and controlling access to data using private attributes (indicated by a leading underscore or double underscore).
# Explanation
1. Private Attribute: __salary is private and cannot be accessed directly from outside the class.
2. Getter/Setter Methods: get_salary and set_salary provide controlled access to __salary

In [ ]:
class Employee:
    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.__salary = salary  # Private attribute

    def get_salary(self):
        return self.__salary

    def set_salary(self, salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("Invalid salary")

# Create instance
emp1 = Employee("John", "Doe", 50000)

# Access salary via getter
print(emp1.get_salary())  # Output: 50000

# Try to access private attribute directly (will raise AttributeError)
# print(emp1.__salary)

# Update salary via setter
emp1.set_salary(55000)
print(emp1.get_salary())  # Output: 55000

50000
55000

# Polymorphism
Polymorphism allows different classes to define methods with the same name but different implementations, enabling flexibility.
# Explanation
1. Method Overriding: Developer and Manager override the work method from Employee.
2. Polymorphism: The same method name (work) produces different results based on the object type.

In [ ]:
class Employee:
    def work(self):
        return "Doing generic work"

class Developer(Employee):
    def work(self):
        return "Writing code"

class Manager(Employee):
    def work(self):
        return "Managing team"

# Create instances
dev1 = Developer()
mgr1 = Manager()

# Call work method on different objects
print(dev1.work())  # Output: Writing code
print(mgr1.work())  # Output: Managing team

Writing code
Managing team

# Abstraction
Abstraction hides complex implementation details and exposes only the necessary interface. In Python, this is often achieved using abstract base classes (ABCs) from the abc module.
# Explanation
1. Abstract Class: Employee is an abstract base class with an abstract method work.
2. Concrete Class: Developer must implement work to be instantiated.
3. Abstraction: Users interact with work without needing to know the implementation details.

In [ ]:
from abc import ABC, abstractmethod

class Employee(ABC):
    @abstractmethod
    def work(self):
        pass

class Developer(Employee):
    def work(self):
        return "Writing code"

# Cannot instantiate abstract class
# emp = Employee()  # Raises TypeError

# Instantiate concrete class
dev1 = Developer()
print(dev1.work())  # Output: Writing code

Writing code